@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Semibold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

body {
  height: 100%;
  background-image: url(../images/redwoods-background.jpg);
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: white;
}

/*Home Navigation Bar*/
nav {
  position: relative;
  display: flex;
  height: 80px;
  background-color: black;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 17px;
  font-family: "Montserrat Light";
  justify-content: space-between;
}

.nav-logo-container {
  display: flex;
  align-items: center;
}

.hp-logo {
  background-image: url(../images/EC-WHITE.png);
  height: 30px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-logo-container p {
  color: white;
  padding-left: 8px;
  font-family: "Montserrat Semibold";
}

.nav-menu {
  position: absolute;
  display: flex;
  gap: 40px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.expand-contract-contracted {
  margin-top: 0px;
  opacity: 0;
}

.expand-contract-expanded {
  margin-top: 30px;
  opacity: 1;
}

.nav-menu-item-dd {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: black;
  width: 100%;
  padding: 15px;
  padding-top: 20px;
  border-radius: 0 0 5px 5px;
  transition: margin-top 1s, opacity 0.5s;
}

.nav-social-menu {
  display: flex;
  gap: 20px;
}

.nav-social-btn {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

@media (max-width: 1112px) {
  /* At this width remove the p tag next to the logo */
}
