@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Semibold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Extrabold";
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
}

/* body {
  height: 100%;
  background-image: url(../images/redwoods-background.jpg);
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

body {
  background-color: black;
}

.bg {
  position: absolute;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

/*Home Navigation Bar*/
nav {
  position: relative;
  display: flex;
  height: 80px;
  background-color: black;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 17px;
  font-family: "Montserrat Light";
  justify-content: space-between;
}

.nav-logo-container {
  display: flex;
  align-items: center;
}

.hp-logo {
  background-image: url(../images/EC-WHITE.png);
  height: 30px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-logo-container p {
  color: white;
  padding-left: 8px;
  font-family: "Montserrat Semibold";
}

.nav-menu {
  position: absolute;
  display: flex;
  gap: 40px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.expand-contract-contracted {
  visibility: hidden;
  margin-top: 0px;
  opacity: 0;
}

.expand-contract-expanded {
  visibility: visible;
  margin-top: 30px;
  opacity: 1;
}

.nav-menu-item-dd {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  border-radius: 0 0 5px 5px;
  transition: margin-top 1s, opacity 0.5s, visibility 0.5s;
}

.menu-item {
  padding: 11px;
}

.nav-social-menu {
  display: flex;
  gap: 20px;
}

.nav-social-btn {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

/*
 * Home Intro
*/

.home-intro-text {
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
  font-size: 5em;
  font-size: 6vw;
  font-family: "Montserrat Extrabold";
  user-select: none;
}

@keyframes slide-in-from-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.intro-text-1 {
  display: inline-block;
  animation: slide-in-from-bottom 1s;
  color: white;
}

.intro-text-2 {
  display: inline-block;
  opacity: 0;
  animation: 1s slide-in-from-bottom 0.9s;
  animation-fill-mode: forwards;
  color: red;
}

@media (max-width: 500px) {
  nav {
    display: none;
  }

  .not-ham-btn {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 50px;
    height: 50px;
    margin-top: 40px;
    border-radius: 0 10px 10px 0;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  @keyframes slide-left {
    0% {
      transform: translateX(0%);
    }

    20% {
      transform: translateX(50%);
    }

    100% {
      transform: translateX(-300%);
    }
  }

  .not-ham-btn > div {
    width: 13px;
    height: 2px;
    background-color: white;
  }

  .not-ham-btn > div:nth-of-type(1) {
    margin-right: 12px;
    /* animation: slide-left 1s;
    animation-fill-mode: forwards; */
  }

  .not-ham-btn > div:nth-of-type(2) {
    /* animation: 1s slide-left 0.2s;
    animation-fill-mode: forwards; */
  }
}
