@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Semibold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

body {
  height: 100%;
  background-image: url(../images/redwoods-background.jpg);
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: white;
}

/*Home Navigation Bar*/
nav {
  position: relative;
  display: flex;
  height: 80px;
  background-color: black;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 17px;
  font-family: "Montserrat Light";
  justify-content: space-between;
}

.nav-logo-container {
  display: flex;
  align-items: center;
}

.nav-logo-container .hp-logo {
  background-image: url(../images/EC-WHITE.png);
  height: 30px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-logo-container p {
  color: white;
  padding-left: 8px;
  font-family: "Montserrat Semibold";
}

.nav-menu {
  position: absolute;
  display: flex;
  gap: 40px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-social-menu {
  display: flex;
  gap: 20px;
}

.nav-social-btn {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
